.container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 1rem auto 1rem auto;
    width: 52rem;
}

.card {
    width: 24rem;
    height: 16rem;
    /* background-image: url('https://ichef.bbci.co.uk/news/640/cpsprodpb/238D/production/_95410190_gettyimages-488144002.jpg'); */
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.4rem;
    position: relative;
}

.imgCancha {
    position: absolute;
    z-index: -1;
    width: 24rem;
    height: 16rem;
}

.championgAndLiga {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.5rem;
}

.resultado {
    background-color: white;
    padding: .1rem .8rem .1rem .8rem;
    border-radius: .4rem;
    margin-bottom: 1.5rem;
}

.equipos {
    color: rgb(255, 255, 0);
    /* position: absolute;
    top: 1rem; */
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
}

.fechaHora {
    position: absolute;
    left: 1rem;
    top: 7rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    color: white;
}

@media (max-width: 900px) {

    .container {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        width: 100VW;

    }

    .card {
        width: 24rem;
        height: 16rem;
    }
}

@media (max-width: 520px) {
    .card {
        width: 24rem;
        height: 16rem;
    }

    .imgCancha {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 390px) {
    .imgCancha {
        width: 100vw;
        height: auto;
    }
}
