.containerLink {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

.enlaceChat {
    text-decoration: none;
    color: black;
    padding: 0%;
    margin: 0%;
    position: relative;
}
.enlaceChat::before {
    content: '';
    display: block;
    position: absolute;
    padding: .5rem;
    border-radius: 100%;
    background-color: rgb(240, 81, 81);
    left: -0.9rem;
}

.enlace {
    text-decoration: none;
    color: black;
    padding: 0%;
    margin: 0%;
}

.iconoChat {
    backdrop-filter: drop-shadow(4px 4px 10px black);
}
