.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0 3rem 0;
    position: relative;
}

.h2Titulo {
    padding: 1.8rem 6rem;
    background-color: rgb(7, 92, 7);
    position: absolute;
    top: -1rem;
    color: white;
    border-radius: .5rem;
}

.usuarioForm {
    background-color: rgb(82, 82, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30rem;
    height: 18rem;
    gap: 1rem;
    border-radius: 1rem;
    margin: 1rem .5rem;
    box-shadow: 15px 15px 15px black;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
}

.divInput {
    width: 98%;
    display: flex;
    justify-content: space-between;
}

/* .label {
    width: 6rem;
    display: flex;
    align-items: center;
} */

.input {
    outline: none;
    height: 2rem;
    width: 18rem;
    font-size: 100%;
    border-radius: 0.4rem;
    padding: 0 0.4rem;
    border: 2px solid white;
    color: white;
    background-color: transparent;
}
input::placeholder {
    color: white;
}

.btn {
    width: 90%;
    height: 2.8rem;
    background-color: rgb(7, 92, 7);
    border-radius: 0.4rem;
    border: none;
    color: white;
    font-size: 120%;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover {
    cursor: pointer;
    background-color: #13181f;
}

.NavLink {
    margin-bottom: 0rem;
    text-decoration: none;
    color: black;
}

@media (max-width: 450px) {
    .divInput {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
