.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 1rem;
}

.tabla {
    border-radius: .5rem;
    background-color: rgba(255, 255, 255, 0.514);
    backdrop-filter: blur(5px);
    height: 80vh;
    width: 85vw;
    overflow: auto;
}

.fila {
    height: 3rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    padding: 0 .5rem;
    border-top: 2px solid grey;
    gap: .5rem;
    transition: all 0.3s;
}
.fila span {
    font-size: 1.1rem;
}

/* .filaAnimacion {
    height: 15rem;
} */

.email {
    grid-column: 4 / 6;
}

.titulos {
    border-top: 0;
    border-bottom: 2px solid grey;
    height: 2.5rem;
}

.containerBtn {
    display: flex;
    gap: .3rem;
}

.btn {
    border-radius: .5rem;
    border: none;
    cursor: pointer;
}

.btnBlockRed {
    padding: .19rem .1rem 0rem .1rem;
    background-color: rgb(223, 76, 76);
}
.btnBlockRed:hover {
    background-color: brown;
}

.btnBlockGreen {
    padding: .19rem .1rem 0rem .1rem;
    background-color: rgb(0, 197, 0);
}
.btnBlockGreen:hover {
    background-color: green;
}

.btnEdit {
    padding: 0rem .2rem;
    background-color: grey;
    font-size: .9rem;
}

.nombre {
    grid-column: 2 / 4;
}

@media (max-width: 1040px) {
    .fila {
        grid-template-columns: repeat(7, 1fr);
        row-gap: 0rem;
        overflow: hidden;
        cursor: pointer;
    }
    .fila span {
        height: 3rem;
        display: flex;
        align-items: center;
    }
    
    .viewInfo {
        height: 6rem;
    }

    .nombre {
        grid-column: 1 / 3;
    }

    .creado {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    .creado::before {
        content: 'Creado: ';
        margin-right: .5rem;
    }

    .email {
        grid-column: 3 / 5;
    }
}

@media (max-width: 1000px) {

    .fila {
        grid-template-columns: repeat(6, 1fr);
        row-gap: 0rem;
        overflow: hidden;
    }
    
    .viewInfo {
        height: 9rem;
    }

    .creado {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    .dni {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
    .dni::before {
        content: 'DNI:';
        margin-right: .5rem;
    }
}

@media (max-width: 830px) {
    
    .fila {
        grid-template-columns: repeat(4, 1fr);
    }

    .viewInfo {
        height: 13rem;
    }

    .email {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }
    .email::before {
        content: 'Email';
        margin-right: .5rem;
    }
}

@media (max-width: 560px) {

    .fila {
        grid-template-columns: repeat(3, 1fr);
    }

    .viewInfo {
        height: 16rem;
    }

    .apellido {
        grid-column: 2 / 3;
    }

    .bloqueado {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }
    .bloqueado::before {
        content: 'Bloqueado:';
        margin-right: .5rem;
    }

    .titulos .bloqueado {
        position: absolute;
        visibility: hidden;
    }

    /* .containerBtn {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
        margin-bottom: .5rem;
    } */
}
