.head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    /* backdrop-filter: blur(4px); */
    height: 4rem;
    z-index: 1;
}
.headDos {
    background-color: aqua;
    width: 100%;
    height: 4rem;
}

.enlaces {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0rem 1rem;
}

.enlaceChat {
    text-decoration: none;
    color: black;
    padding: 0%;
    margin: 0%;
    position: relative;
}
.enlaceChat::before {
    content: '';
    display: block;
    position: absolute;
    padding: .5rem;
    border-radius: 100%;
    background-color: rgb(33, 119, 199);
    right: -1.2rem;
}

.ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0%;
}

.li {
    list-style: none;
    padding: 0;
}

.enlace {
    text-decoration: none;
    color: black;
    padding: 0%;
    margin: 0%;
}

.divNombre span {
    margin: 0;
}
.divNombre button {
    margin: 0 1rem;
    background-color: #FF1700;
    border: none;
    padding: 0.3rem;
    border-radius: 0.5rem;
    transition: all 0.2s;
}
.divNombre button:hover {
    cursor: pointer;
    background-color: #ca0000;
}