.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.445);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ventana {
    height: 21rem;
    width: 30rem;
    background-color: #15792d;
    border-radius: .6rem;
    z-index: 1;
    margin: 0 .5rem;
}

.header {
    text-align: center;
    margin: .8rem;
    padding-bottom: .6rem;
    border-bottom: 2px solid black;
}
.header h3 {
    font-size: 1.4rem;
}

.cuerpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.divInput {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.divInput input {
    height: 1.6rem;
    border-radius: .4rem;
    padding: 0rem .4rem 0rem .4rem;
    border: none;
    outline: none;
}

.foot {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
}

.foot button {
    height: 2rem;
    border-radius: .4rem;
    margin: 0rem .1rem 0rem .1rem;
    padding: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.btnAgregar {
    background-color: hsl(118, 62%, 50%);
}
.btnAgregar:hover {
    background-color: hsl(118, 62%, 28%);
}

.btnCerrar {
    background-color: rgb(238, 70, 70);
}
.btnCerrar {
    background-color: brown;
}
